* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.principal {
    width: 100%;
    height: 1000px;
    background-color: #EEF9BF;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: center;

    color: #75B79E;
    
    padding: 40px;
}

.cartas {   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carta {
    width: 117px;
    height: 146px;
    margin: 17px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }

.face {
    display: flex;
    align-items: center;
    justify-content: center;
   
    position: absolute;
    
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.carta img {
    height: 100px;
    width: 100px;
}

.carta-verso {
    transform: rotateY(180deg);
}

.carta-Selecionada .carta-verso {
    transform: rotateY(0deg);
}

.carta-Selecionada .carta-frente {
    transform: rotateY(-180deg);
}

@media (max-width: 335px) {
    .principal {
        width: 100%;
    }
    
    h1 {
        font-size: 36px;
        line-height: 42px;

        width: 100%;
        padding: 0 auto; 
    }
    
    .cartas {
        width: 100%;
        height: 100%;
       
        flex-direction: column;
        align-items: center;
    }
}